
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Pdf Raporlama Sayfası</h2>
<a href="/PdfReport/StaticPdfReport/" class="btn btn-primary">Statik PDF Raporu</a>
<br /> <br />
<a href="/PdfReport/StaticCustomerReport/" class="btn btn-warning">Statik Misafir Raporu</a>